* { 
	margin: 0; 
	padding: 0;
	border-radius: 0;
	outline: none;
	list-style: none;
	-webkit-text-size-adjust: 100%;
}
body {
	color: #c0c0c0;
	background: #808080;
	font: 15px/20px 'Courier Prime Sans', Courier, monospace;
	text-align: center;
	padding: 20px;
}
textarea {
	font: 10px/15px Menlo, monospace;
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
	white-space: nowrap;
}
h1 {
	margin: 40px auto 0;
	font: inherit;
	white-space: nowrap;
}
h1.search {
	width: 100px;
	padding: 0 23px;
}
h1.search,
h1 a {
	background: url(icons/icon-search.png) left no-repeat;
	background-size: 15px 15px;
}
h1 input {
	width: 100%;
	font: inherit;
	border: 0;
	border-bottom: 1px solid;
	margin-bottom: -1px;
	color: #fff;
	background: transparent;
}
h1 a {
	color: #fff;
	padding: 2px 25px 0;
	margin-bottom: -2px;
	background-image: url(icons/icon-x.png);
	background-position: right;
}
h1 a:hover,
h1 a:focus {
	text-decoration: line-through;
}
a { 
	text-decoration: none;
	color: inherit;
	/*background: rgba(255,0,0,0.5);*/
}
a:hover,
a:focus {
	color: #fff; 
}
li {
	line-height: 0;
}
li > * {
	line-height: 20px;
	text-align: left;
}
li p {
	font-family: Georgia, serif;
	margin: 0 auto;
	max-width: 360px;
	background: #606060;
	padding: 20px;
	border-radius: 4px;
}
li p a {
	text-decoration: underline;
}
div {
	display: inline-block;
	text-align: right;
	padding: 60px 0 12px;
	text-shadow: 0 -1px 0 #606060;
}
div > * {
	display: block;
	padding: 0 4px;
}
div > img {
	padding: 0;
	margin-bottom: 8px;
	box-sizing: border-box;
	max-width: 100%;
	max-height: 85vh;
	border: 4px solid #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}
div a.perma,
div cite {
	float: left;
	clear: left;
	font-style: normal;
}
div a.perma:hover:after,
div a.perma:focus:after {
	content: '#';
	margin-left: 5px;
}
div a.cam {
	display: inline;
}
div a.cam:hover:before,
div a.cam:focus:before {
	content: '?';
	margin-right: 5px;
}
div cite a {
	padding: 0 4px;
	margin: 0 -4px;
}
body>p {
	padding: 60px 0 120px;
}
#more {
	padding: 0 15px 25px;
	font: bold 48px 'Times New Roman', serif;
	text-shadow: 0 1px 4px rgba(0,0,0,0.1);
	border-radius: 100%;
	color: #fff;
}
#more:hover,
#more:focus {
	background: #606060;
}