@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,600;1,600&display=swap');

* {
	margin: 0; 
	padding: 0;
	border-radius: 0;
	outline: none;
	list-style: none;
	-webkit-text-size-adjust: 100%;
}
a { color: inherit; text-decoration: none; }
a:hover, a:focus { color: #fff; }
p a { text-decoration: underline; }
header > * { border-radius: 10px 4px; }

body {
	color: #c0c0c0;
	background: #404040;
	font: 14px/20px Rubik, 'Helvetica Neue', Helvetica, Arial, sans-serif;	
	text-align: center;
}
body.search header { position: fixed; }
body.textarea { padding: 20px; }
textarea {
	font: 10px/15px Menlo, monospace;
	box-sizing: border-box;
	width: 100%;
	padding: 5px;
	white-space: nowrap;
}

header {
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	z-index: 1;
	white-space: nowrap;
	line-height: 0;
}
nav {
	width: 100px;
	margin: 0 auto;	
	padding: 11px 12px 9px 33px;
	background: #404040 url(icons/icon-search.png) 10px 50% no-repeat;
	background-size: 15px 15px;
	opacity: 0.5;
	box-shadow: inset 0 1px 4px rgba(0,0,0,0.2);
}
header input {
	font: inherit;
	color: #fff;
	background: transparent;
	width: 100%;
	height: 17px;
	border: 0;
	border-bottom: 1px solid;
}
header a {
	position: relative;
	top: 20px;
	color: #fff;
	background: #000;
	padding: 10px 11px 9px;
	border: 1px solid #fff;
	opacity: 0.6;
	box-shadow: 0 1px 4px rgba(0,0,0,0.4);
}
header a:hover,
header a:focus {
	opacity: 0.8;
	text-decoration: line-through;
}
header a span {
	padding: 0 25px 0 0;
	background: url(icons/icon-x.png) 100% 1px no-repeat;
	background-size: 15px 15px;
}

main {
	position: relative;
	background: #606060;
	padding: 40px 20px 60px;
	box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}
main > p {
	position: relative;
	top: 50px;
	margin-bottom: 30px;
	font-weight: bold;
}

div {
	display: inline-block;
	text-align: right;
	max-width: 808px;
	padding: 60px 0 12px;
}
div > * { padding: 0 4px; }
div > a { white-space: nowrap; }
div > p { 
	clear: both;
	text-align: left; 
	max-width: 30em;
}
img {
	display: block;
	padding: 0;
	margin-bottom: 8px;
	box-sizing: border-box;
	max-width: 100%;
	max-height: 85vh;
	max-height: min(85vh,808px);
	border: 4px solid #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}
a.perma,
a.at { float: left; text-align: left; }
a.at { margin-top: -1px; }
a.cam,
a.cam+a { opacity: 0.5; }
a.cam+a { padding-left: 0; }

footer {
	padding: 40px 20px;
}
footer > * {
	max-width: 600px;
	margin: 0 auto;
}
footer h2 {
	padding: 5px 8px;
	font-size: 100%;
	text-transform: uppercase;
	letter-spacing: 2px;
	opacity: 0.8;
}
footer ol,
footer ul {
	margin-bottom: 30px;
}
footer li {
	display: inline-block;
}
footer a {
	display: block;
	padding: 5px 8px;
	opacity: 0.6;
	text-decoration: underline;
}
footer .fade a {
	opacity: 0.4;
}
footer .bold a,
footer a:hover,
footer a:focus {
	opacity: 0.8;
}

a[href^='?dmc'], /*3*/
a[href^='?dsc'], /*2*/
a[href='?lut'],
a[href='?mimi'],
a[href='?sofi'] {
	display: none;
}